@model AutoFix.Models.Booking

@{
    ViewData["Title"] = "Create";
}
<div class="container">
<h1>Bokning</h1>

<h5>Boka service och upphämtning genom att fylla i formuläret nedan!</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <select asp-for="Car" class="form-control">
                    <option selected>Välj bil</option>
                    <option value="Volvo 240 - 1986 (ABC 321)">Volvo 240 - 1986 (ABC 321)</option>
                    <option value="Audi A4 - 2011 (RKU 998)">Audi A4 - 2011 (RKU 998)</option>
                </select>
            </div>
            <div class="form-group">

                <select asp-for="Service" class="form-control">
                    <option selected>Välj tjänst</option>
                    <option value="Däckbyte">Däckbyte</option>
                    <option value="Lagning av stenskott">Lagning av stenskott</option>
                    <option value="Besiktning">Besiktning</option>
                    <option value="Felsökning">Felsökning</option>
                    <option value="Service, liten">Service, liten</option>
                    <option value="Service, stor">Service, stor</option>
                    <option value="Recond">Recond</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <label asp-for="OtherRequests" class="control-label"></label>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ExtraWashing" /> @Html.DisplayNameFor(model => model.ExtraWashing)
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ExtraCheckTires" /> @Html.DisplayNameFor(model => model.ExtraCheckTires)
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ExtraFillGas" /> @Html.DisplayNameFor(model => model.ExtraFillGas)
                </label>
            </div>


            <div class="form-group">
                <input asp-for="Address" id="autocomplete" placeholder="Adress för upphämtning/avlämning" onFocus="geolocate()" type="text" class="form-control form-color control-label">
            </div>
            <div class="form-group">
                <input type="submit" value="Boka" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till bokningar</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
